/*
    Modify default Bootstrap modal style
*/

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) {
    .modal-dialog {
        max-width: 80vw !important;
    }
}

@media (min-width: 1040px) {
    .languageList{
        width: calc(100% - 1rem);
    }
    .exchangeButtonContainer{
        z-index: 4;
    }

}

@media (max-width: 1040px) {
    .languageList{
        width: calc(200% - 1rem);
    }
    .exchangeButtonContainer{
        z-index: 2;
    }


}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
    .modal-dialog {
        max-width: 100vw !important;
    }
}

.modal-footer {
    border-top: none !important;
}

*:focus {
    outline: none;
}
.flex-1 {
    flex: 1;
}

.flex-3 {
    flex: 3;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 600px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* text area auto grow*/

.grow-wrap {
    display: grid;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap>textarea {
    resize: none;
    overflow: hidden;
}

.grow-wrap>textarea,
.grow-wrap::after {
    font: inherit;

    grid-area: 1 / 1 / 2 / 2;
}
::placeholder {
    font-size: 1.2em;
    color: rgb(165, 165, 165);
}

/*
    Custom CSS style
*/

:root {
    --main-height: 500px;
    --primaryColor: #4491c0;
}


.translateLogo{
    font-weight: bold;
    color: var(--primaryColor);
    font-size: 1.4rem;

}

.translateButton{
    background-color: var(--primaryColor);
    color: white;
    height: fit-content;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.leftSideContainer, .rightSideContainer {
    border-radius: 6px;
    border: 2px solid #27272742;
    min-height: var(--main-height);
    box-shadow: rgba(66, 66, 66, 0.05) 0px 2px 8px 0px;
}

.languageContainer {
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
    display: flex;
    align-items: center;
}
.languageContainerShadow{
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid #27272742;
    border-radius: 6px;
}

.languageTitle {
    font-weight: 500;
}

.exchangeButtonContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.exchangeButton {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    width: fit-content;
    background: white;
    padding: 0.5rem 0.8rem;
    top: 40px;
    position: relative;
}

.translateTextarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
    line-height: 20px;
    border: none !important;
    min-height: 400px;
}

.activeContainer {
    border: 2px solid var(--primaryColor) !important;
    box-shadow: rgba(47, 72, 88, 0.15) 0px 2px 8px 0px;
}

.textPlaceholder {
    position: absolute;
    color: #b1b1b1;
    font-size: 14px;
}

.languagueButton{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.languageList{
    display: flex;
    position: absolute;
    background: white;
    height: 500px;
    border: 2px solid #27272742;
    border-radius: 6px;
    z-index: 3;
    top: 8px;
}
.languageSubtitle{
    color: #999999;
    font-size: 14px;
}
.languageListSide{
    border-right: 1px solid #27272742;
}
.languageItem{
    font-size: 15px;
    cursor: pointer;
    padding: 10px 5px;
}
.languageItem:hover {
    background-color: #2f485875;
}
.closeButton{
    align-items: center;
    display: flex;
    justify-content: end;
}
.closeButtonText{
    cursor: pointer;
    font-size: 14px;
}
#rightSideLanguageList > .languageList{
    right: 8px;
}
#leftSideLanguageList > .languageList{
    left: 8px;
}