/*
    Modify default Bootstrap modal style
*/

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 768px) {
    .modal-dialog {
        max-width: 80vw !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
    .modal-dialog {
        max-width: 100vw !important;
    }
}

.modal-footer {
    border-top: none !important;
}

*:focus {
    outline: none;
}

/*
    Custom CSS style
*/

:root {
    --main-height: 500px;
    --primaryColor: #2F4858;
}


.leftSideContainer, .rightSideContainer {
    border-radius: 6px;
    border: 1px solid #27272742;
    min-height: var(--main-height);
    box-shadow: rgba(66, 66, 66, 0.05) 0px 2px 8px 0px;
}   

.languageContainer {
    border-bottom: 1px solid #e0e0e0;
}

.languageTitle {
    font-weight: 500;
}

.exchangeButtonContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    z-index: 2;

}

.exchangeButton {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    width: fit-content;
    background: white;
    padding: 0.5rem 0.8rem;
    top: 40px;
    position: relative;
}

.translateTextarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
    line-height: 20px;
    border: none !important;

}

.activeContainer {
    border: 1px solid var(--primaryColor) !important;
    box-shadow: rgba(47, 72, 88, 0.15) 0px 2px 8px 0px;
}
.textPlaceholder{
    position: absolute;
    color: #b1b1b1;
    font-size: 14px;
}